{% extends "layout.html" %}
{% block content %}
<div class="subheader">
  <h2>
    How do I add rabbitlol as a search engine to Firefox?
  </h2>
</div>
<div class="subcontent">
  <span>
    Click the magnifier next to the search bar. On the pane that just
    appeared, click <strong>Add rabbitlol</strong>. You will be able
    to choose rabbitlol as your search engine next time you use your
    search bar.
  </span>
</div>
<div class="subheader">
  <h2>
    How do I make rabbitlol the default search engine in Firefox?
  </h2>
</div>
<div class="subcontent">
  <span>
    Go to <strong>Preferences</strong>
    > <strong>Search</strong>. Select rabbitlol from the dropdown menu
    under the <strong>Default Search Engine</strong> title. rabbitlol
    is now your deafult search engine.
  </span>
</div>
<div class="subheader">
  <h2>
    How to set a default command?
  </h2>
</div>
<div class="subcontent">
  <span>
    <strong>If you are signed in</strong>, visit <a href="{{
    routes.COMMANDS }}">commands</a> page and set one of your commands
    as the default command.
  </span>
</div>
<div class="subcontent">
  <span>
    <strong>If you are not signed in</strong>, there isn't a way to
    provide a default command in Firefox.
  </span>
</div>
{% endblock %}
